<ion-content>

  <div class="main_content_div">

    <div class="user_div">
      <div class="first_div">
        <ion-label class="title">ABOUT</ion-label>
        <img src="assets/imgs/home.png" slot="end" (click)="goHome()">
      </div>
    </div>

    <div class="info">
      The protocols suggested in this app have been developed according to the following documents:
      <ul>
        <li><a href="https://www.studocu.com/en-us/document/stanford-university/the-threat-of-emerging-antibiotic-resistance-and-what-we-can-do-about-it/sanford-antimicrobial-spectrum-chart/32663421">Sanford Antimicrobial Spectrum Chart</a></li>
        <li><a href="https://www.msdmanuals.com/professional/multimedia/table/usual-dosages-of-commonly-prescribed-antibioticsa">Usual Dosages of Commonly Prescribed Antibiotics</a></li>
        <li><a href="https://www.idsociety.org/practice-guideline/hap_vap/">idsociety.org/practice-guideline</a></li>
        <li><a href="https://www.tandfonline.com/doi/full/10.1080/14787210.2021.1976145">tandfonline.com</a></li>
      </ul>
      The information provided must always be checked before any clinical use.<br>
      We decline all responsibility for incorrect use of the application or any (possible) errors present.
    </div>
  </div>

</ion-content>