<ion-content [fullscreen]="true">

  <div class="main_content_div">

    <div class="user_div">
      <div class="first_div">
        <ion-label class="title">AntibiotICU</ion-label>
      </div>
    </div>

    <div class="content_div animated bounceInUp">      
      <ion-label class="select_lbl">Select your activity</ion-label>

      <ion-grid fixed>
        <ion-row>
          <ion-col size="6" (click)="goToActivity($event, item)" *ngFor="let item of activities">
            <div class="col_div">
              <img src="{{item.img}}">
              <ion-label>{{item.name}}</ion-label>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>  

    <div class="footer"><span (click)="fun_showBibliography(true)">BIBLIOGRAPHY</span></div>
  </div>

  <ion-modal [isOpen]="openPopup" (didDismiss)="openPopup = false">
    <ng-template>
      <ion-content>
        <div class="popup-div">
          <img src="assets/imgs/close.png" slot="end" (click)="openPopup = false" class="close-btn">
          <img src="../../assets/imgs/ComingSoon.jpg">
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="showBibliography" (didDismiss)="showBibliography = false">
    <ng-template>
      <ion-content> 
        <div class="popup-div">
          <img src="assets/imgs/close.png" slot="end" (click)="showBibliography = false" class="close-btn">
          <div class="text_popup">
            <h3>Bibliography</h3>
            <p><a href="https://www.studocu.com/en-us/document/stanford-university/the-threat-of-emerging-antibiotic-resistance-and-what-we-can-do-about-it/sanford-antimicrobial-spectrum-chart/32663421">Sanford</a></p>          
            <p><a href="https://www.msdmanuals.com/professional/multimedia/table/usual-dosages-of-commonly-prescribed-antibioticsa">Table Dosage</a></p>            
          </div>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
